// Navigation Styles here


// nav
// header


header {
    margin-top: 20px; 
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 20px; 
    margin-bottom: 10px;
    margin-left: auto;
    width: 300px;
    justify-content: flex-end;
    justify-content: space-between;
    // text-align: right;
    // text-justify: auto;
    display: flex;
    font-size: 15px;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}


